.App {
  text-align: center;
}


.App-h1 {
  color: white;
  font-size: 20vh;
}

.App-text {
  font-size: 2vh;
}

.App-header {
  background-color: #14151D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

th {
  padding: 1.5vh;
}

.App-link {
  color: white;
}
