@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');


body {
  --color-background: #FAF9F6;
  --color-foreground: #000000;
  --color-foreground-dim: darkgray;

  font-size: calc(10px + 2vmin);
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-foreground);
  text-decoration: underline;
}

.container {
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 1000px;
  max-width: calc(100% - 20px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.title {
  font-size: 4em;
  font-weight: 800;
}

.subtitle {
  color: var(--color-foreground-dim);
}
